<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6vlo1OX5g-ug6oAzJrzJbTAvcA7w4TMk</string>
	<key>GCM_SENDER_ID</key>
	<string>210223083459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rsm</string>
	<key>PROJECT_ID</key>
	<string>vehiclepollutionmonitori-8c43d</string>
	<key>STORAGE_BUCKET</key>
	<string>vehiclepollutionmonitori-8c43d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210223083459:ios:f75a5364a8bcde4db91776</string>
</dict>
</plist>